<main>
    <div id="agendaContainer" class="ms-Grid hide" dir="ltr">
        <input id="currentPage" hidden value="DeleteMeetings" />
        <mgt-agenda group-by-day>
            <template data-type="event">
                <div class="event">
                    <div class="eventContainer">
                        <div class="eventtimecontainer">
                            <div class="eventtime" aria-label="{{{ eventTimeConverter(event) }}}">{{{ eventTimeConverter(event) }}}</div>
                        </div>
                        <div class="eventdetailscontainer">
                            <div class="eventsubject">{{event.subject}}</div>
                            <div data-if="event.location.displayName">
                                <div class="eventlocationcontainer">
                                    <svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              clip-rule="evenodd"
                                              d="M4.99989 6.49989C4.15159 6.49989 3.46143 5.81458 3.46143 4.97224C3.46143 4.12965 4.15159 3.44434 4.99989 3.44434C5.84845 3.44434 6.53835 4.12965 6.53835 4.97224C6.53835 5.81458 5.84845 6.49989 4.99989 6.49989Z"
                                              stroke="black" />
                                        <path fill-rule="evenodd"
                                              clip-rule="evenodd"
                                              d="M8.1897 7.57436L5.00029 12L1.80577 7.56765C0.5971 6.01895 0.770299 3.47507 2.17681 2.12383C2.93098 1.39918 3.93367 1 5.00029 1C6.06692 1 7.06961 1.39918 7.82401 2.12383C9.23075 3.47507 9.40372 6.01895 8.1897 7.57436Z"
                                              stroke="black" />
                                    </svg>
                                    <div class="eventlocation" aria-label="{{event.location.displayName}}">{{event.location.displayName}}</div>
                                </div>
                            </div>
                            <div data-if="event.attendees.length>0">
                                <mgt-people class="event-attendees" people={{{eventAttendeesConvert(event)}}}>
                                </mgt-people>
                            </div>
                        </div>
                    </div>
                    <div class="eventButton">
                        <button class="ms-Button ms-Button--primary">
                            <span class="ms-Button-label">{{{getEventButtonTitle(event)}}}</span>
                        </button>
                    </div>
                </div>
            </template>
        </mgt-agenda>
    </div>
</main>
<div id="MessageDialog" class="ms-Dialog">
    <div class="ms-Dialog-title"></div>
    <div class="ms-Dialog-actions">
        <button id="btnSaveDone" class="ms-Button ms-Dialog-action ms-Button--primary">
            <span class="ms-Button-label">OK</span>
        </button>
    </div>
</div>

<div id="lodingDialog" class="ms-Dialog ms-Dialog--blocking">
    <div class="ms-Dialog-content">
        <div class="ms-Spinner ms-Spinner--large">
            <div class="ms-Spinner-label">
                Deleting meeting.......
            </div>
        </div>
    </div>
</div>

<div id="overlay" class="ms-Overlay"></div>

@section Scripts {
    <script src="~/js/upcomingmeetings.js" asp-append-version="true"></script>
}
